* {
    margin: 0;
    padding: 0;
    color: rgb(85, 85, 85);
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

p,
code {
    margin: 20px 20%;
    padding: 20px;
    background-color: bisque;
    border-radius: 30px;
}

code {
    color: cornflowerblue;
}

.footer {
    display: flex;
    justify-content: center;
}

a {
    position: absolute;
    padding: 10px;
    margin-top: 20px;
    background: linear-gradient(90deg, #f598a8, #f6edb2);
    border-radius: 20px;
    font-size: 35px;
    text-decoration: none;
}